<template>
  <div id="addPet">

    <h1>Ajout :</h1>
    <FormPet :pet="pet" btnText="Ajouter" @submit="submit"/>
   
  </div>
</template>

<script>
import FormPet from '../components/FormPet'

export default {
  data:() => ({
    pet:{
      situation: "abandoned"
    },
   
    
  }),

  methods:{
    submit: function () {
      this.$store.commit('addPet', this.pet)
      this.$router.push('/')
    }
  },

  components:{
    FormPet
  }
}
</script>

<style>
  
</style>