<template>
  <div id="editPet">
    <CountAdoptedPet />
    <v-row dense justify="center">
      <v-col cols="4">
        <h1>Modification fiche : {{pet.name}}</h1>
      </v-col>
      <v-col cols="2">
        <v-btn block color="primary" @click="adoptPet" v-if="!isAdopted">
          Adopter
        </v-btn>
        <v-btn block color="secondary" @click="DontAdoptPet" v-if="isAdopted">
          ne plus Adopter
        </v-btn>
      </v-col>

    </v-row>
    <FormPet :pet="pet" btnText="Modifier" @submit="submit" :disabled="editDisable"/>
    <CareList :cares="pet.cares" :disabled="editDisable" />
  </div>
</template>

<script>
import FormPet from '../components/FormPet'
import CareList from '../components/CareList'
import PetAdoption from '../mixins/PetAdoption'
import CountAdoptedPet from '../components/CountAdoptedPet'


export default {
  props:{
    pet:{
      default: () => {}
    },
    editDisable: {
      default: false
    }
  },
  mixins: [PetAdoption],

  mounted: function () {
    this.$store.commit('setCurrentPet', this.pet)
  },

  methods:{
    submit: function () {
      
      this.$store.commit('updatePet', this.pet)
      this.$router.push('/')
    }
  },

  components: {
    FormPet,
    CareList,
    CountAdoptedPet
  }
}
</script>

<style>

</style>