<template>
  <div id="pet-list">  
    <CountAdoptedPet />
    <v-row no-gutters >
      <v-col cols="2">
        <label for="fName">Nom</label>
        <v-text-field type="text" name="fName" id="fName" label="filtre" hide-details v-model="fName" dense></v-text-field>
      </v-col>
      <v-col cols="2">
        Espèce
        <v-text-field type="text" name="fSpacies" id="fSpacies" label="filtre" hide-details v-model="fSpacies" dense></v-text-field>
      </v-col>
      <v-col cols="2">
        Sexe
        <v-text-field type="text" name="fGender" id="fGender" label="filtre" hide-details v-model="fGender" dense> </v-text-field>
      </v-col>
      <v-col cols="2">
        Age
        <v-text-field type="text" name="fAge" id="fAge" label="filtre" hide-details v-model="fAge" dense></v-text-field>
      </v-col>
      <v-col cols="2">
        Situation
        <v-text-field type="text" name="fSituation" id="fSituation" label="filtre" hide-details v-model="fSituation" dense></v-text-field>
      </v-col>
      <v-col cols="2">Action</v-col>
    </v-row>
    <v-divider></v-divider>
    <Pet v-for="pet in filteredPets" :pet="pet" :key="pet.name"></pet>
  </div>
</template>

<script>
import Pet from '@/components/Pet.vue';
import CountAdoptedPet from '../components/CountAdoptedPet'


export default {
  name : 'pet-list',
  components: {
    Pet,
    CountAdoptedPet
  },
  data : function () {
    return {
      fName: "",
      fSpacies: "",
      fGender: "",
      fAge: "",
      fSituation: "",
    }
  },
  computed: {
    pets:function () {
      return this.$store.state.pets;
    },
    filteredPets: function () {
      return this.pets.filter((p) => 
        (p.name || '').toLowerCase().includes((this.fName || '').toLowerCase()) &&
        (p.spacies|| '').toLowerCase().includes((this.fSpacies || '').toLowerCase()) &&
        (p.gender || '').toLowerCase().includes((this.fGender || '').toLowerCase()) &&
        ((p.age|| '').toString().includes((this.fAge || '').toString())) &&
        p.situation.toLowerCase().includes(this.fSituation.toLowerCase())
      )
    }
  }
}
</script>

<style>

    #pet-list{
        width: 80%;
        margin: 0 auto;
    }

    
</style>