<template>
  <v-row dense justify="center">
      <v-col cols="3">{{care.date}}</v-col>
      <v-col cols="3">{{care.type}}</v-col>
  </v-row>
</template>

<script>
export default {
    props:{
        care: {
            default: {
                date: "",
                type: "",
            }
        }
    }
}
</script>

<style>

</style>