<template>
  <div class="pt-12">
    <h2>Liste des soins reçus</h2>
    <Care v-for="(care, i) in cares" :care="care" :key="`care-${i}`"/>
    <FormCare @submit="addCare" v-if="!disabled"/>
  </div>
</template>

<script>
import Care from './Care'
import FormCare from './FormCare'

export default {
  props: {
    cares: {
      default: []
    },
    disabled: {
      default: false
    }
  },

  methods:{
    addCare(c){
      console.log(c);
      
      this.$store.commit('addCare', c)
    }
  },

  components:{
    Care,
    FormCare
  }
}
</script>

<style>

</style>