<template>
  <div id="petCount">
		<v-btn fab :ripple="false">{{ petsCount }}</v-btn>
  </div>
</template>

<script>
export default {
	computed:{
		petsCount : function () {
			return this.$store.getters.adoptedPetCount
		}
	}
}
</script>

<style>
#petCount{
	position: fixed;
	top: 20px;
	right: 20px;
}
</style>