<template>
  <v-form ref="form" id="form" @submit.prevent="submit" autocomplete="off" >  
      <div>
        
        <v-text-field 
          type="text" 
          name="name" 
          id="name" 
          label="Nom"
          :rules="rules.required"
          v-model="pet.name"
          outlined
          dense
          :disabled="disabled"></v-text-field>
      </div>
      <div>
        <v-text-field 
          type="text" 
          name="spacies" 
          id="spacies" 
          label="Espece"
          v-model="pet.spacies"
          outlined
          dense
          :disabled="disabled"></v-text-field>
      </div>
      <div>
          <v-text-field 
          type="text" 
          name="gender" 
          id="gender" 
          label="Sexe"
          v-model="pet.gender"
          outlined
          dense
          :disabled="disabled"></v-text-field>
      </div>
      <div>
        <v-text-field 
          type="number" 
          name="age" 
          id="age" 
          label="Age"
          v-model="pet.age"
          outlined
          dense
          :disabled="disabled"></v-text-field>
      </div>
      <v-btn 
        v-if="!disabled"
        color="success" 
        type="submit"
        block
      > {{ btnText }} </v-btn>
    </v-form>
</template>

<script>
export default {
  props:{
    pet: {
      default: () => ({})
    },
    btnText: {
      type: String,
      default: 'Valider'
    },
    disabled: {
      default: false
    }
  },

  data: () =>({
     rules: {
      required: [ val => (val || '').length > 0 || 'Champs requis']
    },
  }),

  methods:{
    submit:function () {
      if (this.$refs.form.validate()) {
        this.$emit('submit')
      }else{
        alert('veuillez renseigner les champs requis')
      }
    }
  }
}
</script>

<style>
#form{
    width: 300px;
    margin: 0 auto;
    padding-top: 20px;
  }
</style>