<template>
  <v-form ref="formCare" id="formCare" @submit.prevent="submit" autocomplete="off">  
    <v-row justify="center">
      <v-col cols="3">

        <v-menu
          v-model="menu"
          :close-on-content-click="false"
          :nudge-right="40"
          transition="scale-transition"
          offset-y
          min-width="290px"
        >
          <template v-slot:activator="{ on }">
            <v-text-field
              v-model="care.date"
              label="Date"
              readonly
              dense
              outlined
              v-on="on"
            ></v-text-field>
          </template>
          <v-date-picker v-model="care.date" @input="menu = false"></v-date-picker>
        </v-menu>
      </v-col>
      <v-col cols="3">
        <v-text-field 
          type="text" 
          name="type" 
          id="type" 
          label="type de soin"
          v-model="care.type"
          outlined
          dense></v-text-field>
      </v-col>
      <v-col  cols="3">
        <v-btn block type="submit" color="success">Valider</v-btn>
      </v-col>
    </v-row>
  </v-form>
  
    
</template>

<script>
export default {
  props:{
    care: {
      default: () => ({})
    },
    btnText: {
      type: String,
      default: 'Valider'
    }
  },

  data: () =>({
    rules: {
      required: [ val => (val || '').length > 0 || 'Champs requis']
    },
    menu: false,
    fdate: null
  }),

  methods:{
    submit:function () {
      if (this.$refs.formCare.validate()) {
        this.$emit('submit', this.care)
      }else{
        alert('veuillez renseigner les champs requis')
      }
    }
  }
}
</script>

<style>

</style>