<template>
  <v-row align="center">
    <v-col >{{ pet.name }}</v-col>
    <v-col>{{ pet.spacies }}</v-col>
    <v-col>{{ pet.gender }}</v-col>
    <v-col>{{ pet.age }}</v-col>
    <v-col>{{ pet.situation }}</v-col>
    <v-col cols="3">
      <v-btn text router :to="{name:'vuepet', params:{pet: pet} }">
        <v-icon color="primary">mdi-eye</v-icon>
      </v-btn>
      <v-btn text router :to="{name:'editpet', params:{pet: pet} }">
        <v-icon color="success">mdi-pencil</v-icon>
      </v-btn>
      <v-btn text @click="deletePet">
        <v-icon color="error">mdi-delete</v-icon>
      </v-btn>
      <v-btn block color="primary" @click="adoptPet" v-if="!isAdopted">
        Adopter
      </v-btn>
      <v-btn block color="secondary" @click="DontAdoptPet" v-if="isAdopted">
        ne plus Adopter
      </v-btn>
    </v-col>
  </v-row>
</template>

<script>
import PetAdoption from '../mixins/PetAdoption'

export default {
  name: 'Pet',
  props: ['pet'],
  mixins: [PetAdoption],

  methods: {
    deletePet: function () {
      this.$store.commit('deletePet', this.pet)
    }
  },
}
</script>

<style>
 
</style>