<template>
  <v-app id="app">
    <div id="nav">
      <v-btn class="mx-3" text router to="/">Liste d'animaux</v-btn> 
      <v-btn class="mx-3" router fab xSmall to="/ajout-resident">
        <v-icon color="success">mdi-plus</v-icon>
      </v-btn> 
    </div>
    <router-view/>
  </v-app>
</template>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
